body {
    font-family: Arial;
    padding: 20px;
    background-color: #1b0d30;
    color: #e4e4e4;
    text-align: center;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input, textarea, select, button {
    padding: 8px;
  }
  
  h1 {
    text-align: center;
    color: #e4e4e4;
    background-color: alicebl;
    padding: 10px;
    margin-top: 10px;
  }
  
  .isento {
    border: 2px solid lime;
    background-color: #0f2a1d;
  }
  
  .item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
  }